<div
  class="container d-flex justify-content-center align-items-center flex-column gap-3 w-100 p-3"
>
  <h1>
    Чисельність мешканців Подільського зоопраку не постійна. Станом на початок
    2020-го року колекція Подільського зоопарку складає понад 141 тварину:
  </h1>
  <div class="hr"></div>

  <div class="container d-flex flex-column p-3">
    <div
      class="population-container d-flex w-100 gap-3"
      [ngClass]="{ 'flex-column': baseService.isMobile }"
    >
      <div class="population d-flex w-100 gap-3">
        <img src="../../assets/1_animall.png" alt="1_animall" />
        <div class="d-flex flex-column justify-content-center">
          <p>68</p>
          <p>парнокопитних</p>
        </div>
      </div>
      <div class="population d-flex w-100 gap-3">
        <img src="../../assets/beaver.png" alt="1_animall" />
        <div class="d-flex flex-column justify-content-center">
          <p>23</p>
          <p>гризуни</p>
        </div>
      </div>
    </div>
    <div
      class="popukation-container d-flex w-100 gap-3"
      [ngClass]="{ 'flex-column': baseService.isMobile }"
    >
      <div class="population d-flex w-100 gap-3">
        <img src="../../assets/buffalo.png" alt="1_animall" />
        <div class="d-flex flex-column justify-content-center">
          <p>11</p>
          <p>копитних</p>
        </div>
      </div>
      <div class="population d-flex w-100 gap-3">
        <img src="../../assets/antelope.png" alt="1_animall" />
        <div class="d-flex flex-column justify-content-center">
          <p>6</p>
          <p>мозоленогих</p>
        </div>
      </div>
    </div>
    <div
      class="popukation-container d-flex w-100 gap-3"
      [ngClass]="{ 'flex-column': baseService.isMobile }"
    >
      <div class="population d-flex w-100 gap-3">
        <img src="../../assets/bear.png" alt="1_animall" />
        <div class="d-flex flex-column justify-content-center">
          <p>19</p>
          <p>хижаків</p>
        </div>
      </div>
      <div class="population d-flex w-100 gap-3">
        <img src="../../assets/baboon.png" alt="1_animall" />
        <div class="d-flex flex-column justify-content-center">
          <p>14</p>
          <p>приматів</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hr"></div>
  <app-container [data]="data"></app-container>
</div>
